.idea/

**/.vscode
**/.vs
**/obj
**/bin
**/build
**/dist
**/*.egg-info
.eggs/
.vscode/*

venv
**/__pycache__
.ipynb_checkpoints/
/.vs
/samples/DotNet.FunctionApp/Properties/launchSettings.json
/samples/Python.FunctionApp/.vscode/settings.json

/*.DotSettings.user
.vscode/settings.json
samples/PythonNotebook/jupyter_command.bat
/cli/perper.exe
/packages
