name: Perper Fabric

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Build the Docker image
      run: docker build . --file docker/Dockerfile --tag obecto/perper-fabric
    
    - name: Login to DockerHub
      run: docker login --username obecto --password ${{ secrets.DOCKER_HUB_TOKEN }}
    
    - name: Push to DockerHub
      run: docker push obecto/perper-fabric
